$dim-screen-mobile-portrait:            480px;
$dim-screen-mobile-landscape:           800px;
$dim-screen-tablet-portrait:            768px;
$dim-screen-tablet-landscape:           1024px;
$dim-screen-desktop:                    1280px;